body {
        padding-top: 41px;
        padding-bottom: 0;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      #map, #infoArea, .container-fluid {
      	height: 100%;
        
      }
#menus {
margin-left: 1.15%;
}
#map {
margin-left: 2px;
}      .missingInput {
        background-color: rgb(255, 200, 200) !important;
      }
      p {
        color: #999999;
      }
      
      .height100 {
        height: 100% !important;
      }
      .height50 {
        height: 50% !important;
      }
      #orderFormContainer {
      	height: 100%;
margin-left: 1.15%;
      }
      .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .well {
        margin-bottom: 3px;
      }

     html {
      height: 90%;
     }
     body {
      height: 100%;
     }
     textarea {
      min-height: 150px;
     }
     input, textarea {
      width:95%;
     }
     input {
      height: 20px !important;
     }
     .tinyInput {
      width: 20px !important;
     }
     .nav-kommune {
      margin-top: 0 !important;
      padding-top: 0 !important;
     }
     .nav-fylke {
      padding-left: 5px !important;
     }

     .leaflet-control-zoom-fullscreen { background-image: url('../images/icon-fullscreen.png'); }
     .leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; }
